package components

import "wonk/app/templates/components/icons"

templ Header() {
	<header class="flex flex-row justify-between h-[6%] p-3">
		<div class="flex items-center">
			<a href="/home" class="flex flex-col no-underline w-full">
				Wonk
			</a>
		</div>
		<div class="flex flex-row items-center">
			<a>
				@icons.UserIcon(icons.IconOptions{Size: "8"})
			</a>
		</div>
	</header>
}
