package components

templ Header() {
	<header class="flex flex-row justify-between h-[6%] p-3">
		<div class="flex items-center w-1/6">
			<a href="/home" class="flex flex-col no-underline w-full">
				Logo
			</a>
		</div>
		<div class="flex flex-row items-center">
			<a href="#" class="m-2">User</a>
		</div>
	</header>
}
