package components

templ NavBar() {
<nav class="flex flex-col w-20 bg-gray-300 justify-start items-center text-center m-3 rounded-md py-2">
	<a href="#" class="flex flex-col items-center p-1 hover:bg-gray-100 w-full my-6">
		<!-- TODO: ICON -->
		<p class="text-xs">Home</p>
	</a>
</nav>
}
