package components

import "wonk/app/components/icons"

templ NavBar() {
	<nav class="flex flex-col w-20 justify-start items-center text-center py-2">
		<a
			hx-get="/finance"
			hx-target="#content-div"
			hx-swap="innerHTML"
			hx-push-url="/finance"
			class="flex flex-col items-center p-1 hover:bg-bg-secondary w-full"
		>
			@icons.FinanceIcon(icons.IconOptions{Size: "10"})
			<p class="text-xs">Finance</p>
		</a>
	</nav>
}
