@import "tailwindcss";

@theme inline {
  --color-varient-primary: rgb(var(--varient-primary));
  --color-varient-primary-hover: rgb(var(--varient-primary-hover));
  --color-varient-secondary: rgb(var(--varient-secondary));
  --color-varient-success: rgb(var(--varient-success));
  --color-varient-warning: rgb(var(--varient-warning));
  --color-varient-info: rgb(var(--varient-info));
  --color-varient-error: rgb(var(--varient-error));
  --color-bg-main: rgb(var(--bg-main));
  --color-brdr-main: rgb(var(--brdr-main));
  --color-txt-primary: rgb(var(--txt-primary));
}

.light {
  --varient-primary: 43, 151, 119;
  --varient-primary-hover: 34, 121, 95;
  --varient-secondary: 151, 43, 75);
  --varient-success: 92, 184, 92;
  --varient-warning: 255, 95, 21;
  --varient-info: 130, 219, 192;
  --varient-error: 255, 0, 51;
  --bg-main: 255, 255, 255;
  --brdr-main: 204, 204, 204;
  --txt-primary: 0, 0, 0;
}

.dark {
  --varient-primary: 130, 219, 192;
  --varient-primary-hover: 34, 121, 95;
  --varient-secondary: 151, 43, 75);
  --varient-success: 92, 184, 92;
  --varient-warning: 255, 95, 21;
  --varient-info: 130, 219, 192;
  --varient-error: 255, 0, 51;
  --bg-main: 17, 17, 17;
  --brdr-main: 204, 204, 204;
  --txt-primary: 255, 255, 255;
}
